:host ::ng-deep {
  .mat-dialog-content {
    padding: 0px;
  }
}

.login-content {
  padding: 10px 20px 15px 50px;
  margin-top: 40px;
}

.forgot-pass {
  font-size: 14px;
  float: right;
  cursor: pointer;
  color: gray;
  margin-bottom: 10px;
}

.forgot-pass:hover {
  text-decoration: underline;
  color: #36454f;
}
