<div mat-dialog-title>
    <!-- O, Hi Mark! -->
    <!-- Hello there! -->
    <button class="close" mat-button (click)="dialogRef.close()">X</button>
</div>
<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Login">
            <div class="col-12 login-content">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
                    <p>
                        <mat-form-field>
                            <input matInput formControlName="userName" placeholder="Login" required>
                            <mat-error *ngIf="registerFormGroup.get('userName').hasError('required')">This field is
                                required.</mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <input type="password" matInput formControlName="password" placeholder="Password" required>
                            <mat-error *ngIf="registerFormGroup.get('password').hasError('required')">This field is
                                required.</mat-error>
                        </mat-form-field>
                    </p>
                    <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
                    <p>
                        <button mat-raised-button class="form-control" type="submit"
                            (click)="dialogRef.close()">Submit</button>
                    </p>
                    <p>
                        <button mat-stroked-button class=" form-control" type="button" (click)="loginThroughFacebook()">
                            <mat-icon style="color:#15a4fb;">facebook</mat-icon>
                            <span> Facebook </span>
                        </button>
                    </p>
                    <button mat-button class="forgot-pass" type="button">I forgot my password...</button>
                </form>
            </div>
        </mat-tab>
        <mat-tab label="Register">
            <div class="col-12 login-content">
                <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmitRegisterForm()">
                    <div style="display:inline-block;padding-right:20px; width: 50%;">
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>User Name</mat-label>
                                <input matInput placeholder="User Name" formControlName="userName" required>
                                <mat-error *ngIf="registerFormGroup.get('userName').hasError('required')">This field is
                                    required.</mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>EMail</mat-label>
                                <input matInput placeholder="EMail" formControlName="email" required>
                                <mat-icon matSuffix>email</mat-icon>
                                <mat-error *ngIf="registerFormGroup.get('email').hasError('required')">This field is
                                    required.</mat-error>
                                <mat-error *ngIf="registerFormGroup.get('email').hasError('email')">Incorrect email.
                                </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="First Name" formControlName="firstName" required>
                                <mat-error *ngIf="registerFormGroup.get('firstName').hasError('required')">This field is
                                    required.</mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Last Name" formControlName="lastName" required>
                                <mat-error *ngIf="registerFormGroup.get('lastName').hasError('required')">This field is
                                    required.</mat-error>
                            </mat-form-field>
                        </p>
                    </div>
                    <div style="display:inline-block; width: 50%;">
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" placeholder="Password" formControlName="password"
                                    required>
                                <mat-error *ngIf="registerFormGroup.get('password').hasError('required')">This field is
                                    required.</mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Confirm Passwrod</mat-label>
                                <input matInput type="password" placeholder="Confirm Passwrod"
                                    formControlName="confirmPassword" required>
                                <mat-error *ngIf="registerFormGroup.get('confirmPassword').hasError('required')">This
                                    field
                                    is
                                    required.</mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Date of Birth</mat-label>
                                <input matInput type="date" placeholder="Date of Birth" formControlName="dateOfBirth">
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Phone Number</mat-label>
                                <input matInput placeholder="Phone number" formControlName="phoneNumber">
                            </mat-form-field>
                        </p>
                    </div>
                    <p>
                        <button mat-raised-button class="form-control" type="submit"
                            [disabled]="registerFormGroup.invalid" (click)="dialogRef.close()">Submit</button>
                    </p>
                </form>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>