<div class="max-expanded">

  <div>
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav class="sidenav-menu" mode="push">
        <app-menu (onListItemClick)="sidenav.close()"></app-menu>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="title-panel">
          <div style="float: left;padding: 10px 10px 10px 5px; color: white;">
            <button mat-icon-button (click)="sidenav.toggle()" class="toggle-side-btn">
              <mat-icon>menu</mat-icon>
            </button>
            <div *ngIf="currentUserIsAuthenticated" class="is-authenticated"></div>
          </div>
          <a class="title" routerLink="/">{{title}}</a>
        </div>
        <div class="content">
          <div class="main-content">
            <router-outlet></router-outlet>
          </div>
          <div id="footer">
            <div class="row" style="margin: 0px;">
              <div class="col-md-4 col-xs-12" style="margin-bottom: 20px;">
                <img src="https://placeit.net/assets/backgrounds/logo.png" alt="no photo"
                  style="width: 100px;margin-top: 20px;">
              </div>
              <div class="col-md-4 col-xs-12" style="margin-bottom: 20px;">
                Pastel Rainbow <br>
                Grey Lavender Colors
              </div>
              <div class="col-md-4 col-xs-12" style="margin-bottom: 20px;">
                Never Doub <br>
                Never Dreamed Of This
                Uonto sdilo dsort
              </div>
            </div>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>

  </div>
</div>