.title {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Verdana";
  font-weight: bold;
  cursor: pointer;
  float: right;
  padding: 10px 80px 10px 10px;
}

.title:hover {
  color: #dfe3ee;
}

::ng-deep {
  .mat-form-field-label {
    color: #232837 !important;
  }

  .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #232837 !important;
  }
  .mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #232837 !important;
  }
  .mat-ink-bar {
    background-color: #232837 !important;
  }
}

.max-expanded {
  min-height: 100vh;
  width: 100%;
}

.title-panel {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 99;
  background-color: #232837;
}
.main-content {
  background-color: rgb(250 250 250);
  min-height: calc(100vh - 143px);
  min-width: 400px;
  margin-top: 50px;
}
#footer {
  min-height: 10vh;
  padding: 10px 10px 10px 60px;
  min-width: 400px;
  background-color: #232837;
  z-index: 1;
  color: #dfe3ee;
  left: 0;
  bottom: 0;
  width: 100%;
}

::ng-deep {
  .mat-form-field {
    width: 100%;
  }
  .mat-raised-button {
    background-color: #dfe3ee;
  }

  .mat-raised-button > span {
    color: black;
  }
}

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .sidenav-menu {
    width: 15vh;
  }
}
.is-authenticated {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 5px 5px 14px 10px;
  border-radius: 100%;
  background-color: #54e346;
}
