.load-items-text {
  margin: 5px 10px 5px 0px;
  font-size: 14px;
  color: #4682B4;
}

.load-items-text:hover{
    text-decoration: underline;
}

.comment-form{
  margin: 10px 0px 10px 0px;
}

.icon-like{
  margin-right: 5px;
}