.company-details {
  padding: 30px 30px 20px 20px;
}
.display-inline {
  display: inline-block;
}
.description {
  padding: 30px;
}
.padding-10 {
  padding: 10px;
}
.company-crumb {
  cursor: pointer;
}
.crumb :hover {
  color: #dfe3ee;
}