<div>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <button
        mat-button
        *ngIf="!currentUserIsAuthenticated; else authenticatedUser"
        class="register-btn"
        (click)="openLoginModal()"
      >
        <mat-icon>login</mat-icon> Login
      </button>
      <ng-template #authenticatedUser>
        <span [matMenuTriggerFor]="menu" style="cursor: pointer">
          <!-- <span>O, Hi Mark!</span> -->
          <img
            [src]="
              currentUser.pictureUrl
                ? currentUser.pictureUrl
                : 'https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png'
            "
            class="profile-picture"
          />
          <span>Hi {{ currentUser?.firstName }}</span>
        </span>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            [routerLink]="['/profile']"
            (click)="emitClickEvent()"
          >
            <mat-icon>account_box</mat-icon>
            <span>My Profile</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </ng-template>
    </mat-list-item>
    <mat-list-item
      role="listitem"
      routerLink="/"
      class="list-item"
      (click)="emitClickEvent()"
    >
      <mat-icon>home</mat-icon> Acasa
    </mat-list-item>
    <mat-list-item
      role="listitem"
      routerLink="/about"
      class="list-item"
      (click)="emitClickEvent()"
    >
      <mat-icon>info</mat-icon> Despre
    </mat-list-item>
    <mat-list-item
      role="listitem"
      routerLink="/contacts"
      class="list-item"
      (click)="emitClickEvent()"
    >
      <mat-icon>info</mat-icon> Contacte
    </mat-list-item>
  </mat-list>
</div>
