.item-menu {
  padding: 5px;
}
.icon-item-menu {
  margin-right: 5px;
}

.menu-item {
  font-size: 17px;
  padding: 7px 15px 7px 15px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #b0b2b5;
}
