<div>
  <div class="menu-item" style="cursor: unset;">
    <i *ngIf="!isOpenMenu" style="margin-top: 20px;" class="fas fa-search  icon-item-menu pointer"
      (click)="openMenu.emit();"></i>
    <mat-form-field *ngIf="isOpenMenu" style="width:100%;">
      <input matInput placeholder="Search">
    </mat-form-field>
  </div>
  <div class="menu-item" routerLink="/">
    <i class="fas fa-home icon-item-menu"></i>
    <span *ngIf="isOpenMenu">Home</span>
  </div>
  <div class="menu-item" routerLink="/about">
    <i class="fas fa-info icon-item-menu" style="
    margin-left: 6px;"></i>
    <span *ngIf="isOpenMenu">About</span>
  </div>
</div>