<div class="row" style="margin:0px;">
  <div class="col-12 chart-togles">
    <!-- <button mat-button (click)="bubbleSort(chartItem)">Sort</button> -->
    <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="charType">
      <mat-button-toggle value="left" aria-label="Text align left" [value]="0">
        <mat-icon>equalizer</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="center" aria-label="Text align center" [value]="1">
        <mat-icon>trip_origin</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="center" aria-label="Text align center" [value]="2">
        <mat-icon>view_module</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="center" aria-label="Text align center" [value]="3">
        <mat-icon>speed</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="col-12 chart-view">
    <ng-container [ngSwitch]="charType">
      <div *ngSwitchCase="0">
        <ngx-charts-bar-vertical #chartItem [view]="view" [scheme]="colorScheme" [results]="result" [xAxisLabel]="xAxisLabel" 
          [yAxisLabel]="yAxisLabel" [legendTitle]="legendTitle" [xAxis]="showXAxis" [yAxis]="showYAxis" [yScaleMax]="10"
          [legend]="showLegend" [gradient]="gradient"  
          (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></ngx-charts-bar-vertical>
      </div>
      <div *ngSwitchCase="1">
        <ngx-charts-advanced-pie-chart #chartItem [view]="view" [scheme]="colorScheme" [results]="result" [gradient]="gradient"  
          (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
        </ngx-charts-advanced-pie-chart>
      </div>
      <div *ngSwitchCase="2">
        <ngx-charts-number-card #chartItem [view]="view" [scheme]="colorScheme" [cardColor]="cardColor" [results]="result"   
        (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
        </ngx-charts-number-card>
      </div>
      <div *ngSwitchCase="3">
        <ngx-charts-gauge #chartItem [view]="view" [scheme]="colorScheme" [results]="result" [legendTitle]="legendTitle" 
          [legendPosition]="'below'" [legend]="showLegend" (select)="onSelect($event)" (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)" [max]="10">
        </ngx-charts-gauge>
      </div>
    </ng-container>
  </div>
</div>