.view_toggles {
    margin: 10px 10px 10px 0px;
}

.view-table {
    width: 100%;
    .actions {
        width: 10%;
        min-width: 160px;
    }
    .description {
        width: 50%;
        padding: 5px;
    }
    .view-item {
        cursor: pointer;
    }
    .view-item:hover {
        background-color: #dfe3ee;
    }
}

.loading-spinner {
    height: 100vh;
    text-align: -webkit-center;
    padding-top: 20vh;
}
.mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}
.more-details-btn {
    position: absolute;
    right: 30px;
    margin: 5px;
}
