<div>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Top electronic store
                </mat-panel-title>
                <mat-panel-description>
                    fdsfsdfsd
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div id="parent">
                <canvas id="canvas" width="400" height="200"></canvas>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>