.company-details {
    padding: 30px 30px 20px 20px;
}
.display-inline {
    display: inline-block;
    width: 50%;
}
.description {
    padding: 30px;
}
.padding-10 {
    padding: 10px;
}
.loading-spinner{
    height: 100vh;
    text-align: -webkit-center;
    padding-top: 20vh;
}