<div *ngIf="!isLoading; else isLoadingTemp" class="company-details">
    <div class="row">
        <div class="col-12">
            <h2>{{currentCompany.name}}</h2>
            <mat-divider></mat-divider>
            <div class="description">
                <p>{{currentCompany.description}}</p>
                <div>
                    <div class="display-inline">
                        <mat-icon>phone</mat-icon>
                        <span class="padding-10">{{currentCompany.phone}}</span>
                    </div>
                    <div class="display-inline">
                        <mat-icon>web</mat-icon>
                        <span class="padding-10">{{currentCompany.webSite}}www.tttttasdasda.asas</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title style="width: 40%;">
                            Photos
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Some Photo
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Reviews
                        </mat-panel-title>
                        <mat-panel-description>
                            Ratting: 7.4{{currentCompany.ratting ? 'Ratting: '+currentCompany.ratting: ''}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-reviews *ngIf="currentCompanyId" [reviewType]="reviewTypeCompany"
                        [entityId]="currentCompanyId" [isReply]="true">
                    </app-reviews>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
<ng-template #isLoadingTemp>
    <div class="col-12 loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>