::ng-deep{
    mat-dialog-container{
        padding: 1px !important;
        background-color: gray !important;
    }
}

.close-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 20px;
}